* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(239, 203, 247);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    color: black;

    margin-bottom: 40px;
}

#introducao {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgba(189, 165, 245, 0.5);
    
    justify-content: space-between;
    margin-bottom: 30px;
    line-height: 1.5;
}


#introducao h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: normal;
}

#introducao {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}








.purple {
    color: rgb(215, 27, 253)
}


#menu {
    
    padding: 20px;
    border-radius: 5px;
   display: flex;
   gap:15px;
   font-size: small;
}

#menu a {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}

footer a {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#curiosidades img{
    height: 100%;
    width:100%;
    border-radius: 12px;
}
#curiosidades{
    padding: 20px;
    margin: 20px;
    background-color: rgba(189, 165, 245, 0.5);
    background-color: (114, 95, 235);
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    gap: 5%;
}

#VS{
    gap:10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
}

#VS h3{
     font-size: 20px;
    font-weight: 700;
    color:black;
    font-family:'Times New Roman', Times, sans-serif;
}
#VS h2{
   font-size: 30px;
    font-weight: 700;
    font-family:'Times New Roman', Times, sans-serif;
    color:black
}
.fatos{
    background-color: white;
    border-radius: 12px;
    width: 100%; 
    height: auto;
    margin-bottom:20px;

}
.contexto{
  margin: 5px;
  padding: 5px;
}
.fatos p{
    padding: 5px; 
    margin: 5px;
}
